[submodule "vendor/AutoViz"]
	path = vendor/AutoViz
	url = https://github.com/AutoViML/AutoViz.git
[submodule "vendor/DeepEye"]
	path = vendor/DeepEye
	url = https://github.com/Thanksyy/DeepEye-APIs.git
[submodule "vendor/data2vis"]
	path = vendor/data2vis
	url = https://github.com/victordibia/data2vis.git
[submodule "vendor/LLM4Vis"]
	path = vendor/LLM4Vis
	url = https://github.com/demoleiwang/LLM4Vis.git
